*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}

section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li a:hover{
    text-decoration: underline;
}
section header ul li button{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
}

section .main{
    width:  580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
section .main .searchBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchBox .search{
    width: 600px;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px; 
}

section .main .searchBox .icon{
    position: absolute;
    top: 0;
    width: 100px;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
   
}
#logo2{
    
    margin-left: 530px;
}

section .main .buttons{
    margin-top: 20px;
    
}
section .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
}
section .main .buttons button:hover{
    border: 1px solid #ccc;
}
#links{
   text-align: center;
   margin-top: 10px;
   font-size: small;
}
#links a{
    margin-left: 5px;
    text-decoration: none;
}
#links a:hover{
    text-decoration: underline;
}
footer  {
    
   position: absolute;
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
  /*   position: fixed; */
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    
  }
  
  footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 13px;
  }
  footer ul li a{
       text-decoration: none;
  }
  
  footer ul {
    text-decoration: none;
    float: left;
    padding: 1px;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
  




